@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700&family=Rubik:wght@400;500;700&display=swap');

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Honken Grotesk", sans-serif;;
}

h1, h3, p {
  margin: 0px;
}