.Playlist {
    height: 100%;
    color: white;
    overflow-y: scroll;
}

.inactiveTrack, .activeTrack {
    display: flex;

}

.inactiveTrack:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.activeTrack {
    background-color: rgba(255, 255, 255, 0.2);
}

.activeTrack > .songInfo .artistInfo {
    color: #adfca9;
}


.songInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.songInfo > img {
    width: 80px;
    height: 80px;
}


.trackInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
}

.artistInfo {
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
}

.songNameInfo {
    font-size: 34px;
    font-weight: 400;
    line-height: normal;
}

.songBreak {
    margin: 10px 0;
}

.play {
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }