.Playlist {
    height: 100%;
    color: white;
    padding: 20px;
    overflow-y: scroll;
}

.inactiveTrack, .activeTrack {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.inactiveTrack:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.activeTrack {
    background-color: rgba(255, 255, 255, 0.2);
}


.songInfo {
    display: flex;
}
.songInfo > img {
    width: 80px;
    height: 80px;
    padding: 10px;
}


.trackInfo {
    padding: 10px;
}

.play {
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }