.SpotifyConnect {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.connectSpotifyButton {
  margin: 10px;
  padding: 1.875rem 3.75rem;
  font-size: 5.125rem;
  font-weight: 500;
}

.continueButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 86px;
}

.disabled {
  opacity: 0.2;
}

.skipButton, .disabledSkipButton {
  font-size: 1.5rem;
}

.skipButton:hover {
  cursor: pointer;
}

.disabledSkipButton {
  opacity: 0.2;
}

