.NavBar {
    display: flex;
    width: calc(100% - 6.25rem);
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1.875rem;
    left: 3.125rem;
    border: none;
  }

  .sessionData {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .redirectConnectButton {
    font-size: 1.5rem;
    padding: 0.548781157rem 1.37195289rem;
  }
  
  .userInfo {
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 2;
  }
  
  .userInfo:hover {
    cursor: pointer;
  }
  
  .options {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;
    font-size: 1.5rem;
    right: 0px;
    top: 2.5625rem;
    animation: open 0.2s ease 1;
    z-index: 1;
  }
  
  .toSignIn:hover {
    cursor: pointer;
  }

  .logo {
    max-width: 10rem;
  }

  .logo:hover {
    cursor: pointer;
  }

  @keyframes open {
    from {
      opacity: 0;
      transform: translate(0, -50%);
    }
  }