.LoginPage {
    height: 100%;
    display: flex;
    align-items: flex-start;
    color: white;
    text-align: center;
    margin: 2rem 0;
    overflow: scroll;
}

.form {
    margin: auto;
    overflow: hidden;
}

.registerForm,
.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formInput {
    text-align: center;
    color: #adfca9;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    font-size: 3.375rem;
    transition: font-size 0.2s ease-in, margin-bottom 0.2s ease-in;
}

.formInput:focus {
    font-size: 5.25rem;
    margin-bottom: 20px;
}

::placeholder {
    color: white;
    opacity: 0.2;
    font-weight: 700;
}

.errorMessage {
    color: #fca9ad;
}

.submitButton {
    font-size: 2.625rem;
    padding: 15px 50px;
    margin: 72px 0 20px 0;
}

.switchForm {
    display: flex;
    justify-content: center;
}

.changeFormTypeButton {
    color: #adfca9;
}

.changeFormTypeButton:hover {
    cursor: pointer;
    color: rgb(91, 155, 87);
    text-decoration: underline;
}