.LoginPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
    display: grid;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm {
  display: flex;
  gap: 10px;
}

.changeFormTypeButton {
    color: blue;
}

.changeFormTypeButton:hover {
    cursor: pointer;
    color: rgb(83, 83, 253)
}