.PlayArea {
    display: grid;
    grid-template-areas: 
        "functions playing"
        "playlists songs";
    
    grid-template-rows: clamp(10%, 20vh, 23.42%) 1fr;
    grid-template-columns: clamp(10%, 30vw, 25rem) 1fr;
    margin: 0 clamp(0px, 3.47vw, 50px);
    gap: 2px;
    height: 100%;
    color: white;
    background-color: #ADFCA9;
  }

  .functions {
    grid-area: functions;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.83vh 1rem 3.83vh 0;
    background-color: #001FF3;
  }

  .createPlaylistButton {
    font-size: 2.125rem;
    font-weight: 700;
  }
  
  .createPlaylistButton:hover {
    cursor: pointer;
  }

  .playlistList {
    grid-area: playlists;
    background-color: #001FF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.12vh clamp(0px, 3.47vw, 50px) 0 0;
    gap: 2.5rem;
    overflow-y: scroll;
  }

  .playlistListItem {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-overflow: ellipsis;
  }


  .playlistListItem > p {
    font-size: 2.75rem;
  }

  .inactivePlaylistLabel {
    color: white;
  }

  .activePlaylistLabel {
    color: #ADFCA9;
  }

  .playlistListItem > p:hover {
    cursor: pointer;
    color: #ADFCA9;

  }

  .deletePlaylistButton {
    display: flex;
    align-items: center;
  }

  .deletePlaylistButton > img{
    width: 2rem;
    height: 2rem;
  }

  .deletePlaylistButton:hover {
    cursor: pointer;
  }

  .playback {
    grid-area: playing;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #001FF3;
    padding: 1.78vh 3.47vw;
  }

  .playlistTracks {
    grid-area: songs;
    padding: 2rem 0 2rem 3.25rem;
    height: 100%;
    width: calc(100% - 3.25rem);
    overflow-y: scroll;
    background-color: #001FF3;
  }

  .filler {
    background-color: #001FF3;
  }
